{% extends 'base.html' %}


{% block content %}
<div class="p-5 mb-5">
    <h1>Computers</h1>
    <hr>
    <div class="text-end">
        <a href="{% url 'computer-create' %}">
            <span class="fs-3 text-success material-symbols-outlined">
                add_box
            </span>
        </a>
    </div>
    <div class="col-lg-6 mx-auto py-3">
        <form action=""
            method="get">
            <input class="form-control form-control-lg rounded-pill"
                type="search"
                name="computers"
                placeholder="Search computer..."
                id="">
        </form>
    </div>
    <br>
    <section>
        <div class="table-responsive px-5">
            <table class="table table-sm small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Computer name</th>
                        <th scope="col">Model</th>
                        <th scope="col">Processor</th>
                        <th scope="col">RAM (GB)</th>
                        <th scope="col">Storage (GB)</th>
                        <th scope="col">OS</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Installed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for computer in object_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="text-dark"
                                href="{% url 'computer-detail' computer.pk %}">{{computer.computer_name|upper}}
                            </a>
                        </td>
                        <td>{{computer.model|upper}}</td>
                        <td>{{computer.model.processor|upper}}</td>
                        <td>{{computer.model.ram}}</td>
                        <td>{{computer.model.hdd}}</td>
                        <td>{{computer.os}}</td>
                        <td>{{computer.location|upper}}</td>
                        <td>{{computer.status}}</td>
                        <td>{{computer.date_installed}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>

{% endblock content %}