{% extends 'base.html' %}


{% block content %}
<div class="container py-5 mb-5">
    <h1>{{object}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <p>Computer name: {{object.computer_name}}</p>
            <p>Model: <a href="{{object.model.get_absolute_url}}">
                    {{object.model}}</a></p>
            <p>Location: {{object.location}}</p>
            <p>IP Address: {{object.ip_addr}}</p>
            <p>Dept: {{object.dept}}</p>
            <p>user: {{object.user}}</p>
            <p>Status: {{object.status}}</p>
            <p>Received: {{object.date_received}}</p>
            <p>Installed: {{object.date_installed}}</p>
            <p>Warranty: {{object.warranty_info}}</p>
            {% if object.image %}
            <a class="text-dark"
                target="_new"
                href="{{object.image.url}}">BELARC</a>
            {% endif %}
        </div>
        <div class="col-md-4">
            <p>Serial Number: {{object.serial_number}}</p>
            <p>Processor: {{object.model.processor}}</p>
            <p>RAM: {{object.model.ram}} GB</p>
            <p>HDD: {{object.model.hdd}} GB</p>
            <p>OS: {{object.os}}</p>
            {% for monitor in object.monitor.all %}
            <p>Monitor: {{monitor}}</p>
            {% endfor %}
            <p>Keyboard: {{object.keyboard}}</p>
            <p>Mouse: {{object.mouse}}</p>
            <p>{{object.notes}}</p>

        </div>
        <div class="text-end py-3">
            <a class="btn btn-dark"
                href="{% url 'computer-update' object.pk %}">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}