{% extends 'base.html' %}


{% block content %}
<div class="container py-5 mb-5">
    <h1>{{object}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <p>Computer name: {{object.computer_name}}</p>
            <p>Model: {{object.model}}</p>
            <p>Location: {{object.location}}</p>
            <p>IP Address: {{object.ip_addr}}</p>
            <p>Dept: {{object.dept}}</p>
            <p>user: {{object.user}}</p>
            <p>Status: {{object.status}}</p>
            <p>Received: {{object.date_received}}</p>
            <p>Installed: {{object.date_installed}}</p>
            <p>Warranty: {{object.warranty_info}}</p>
        </div>
        <div class="col-md-4">
            <p>Serial Number: {{object.serial_number}}</p>
            <p>Processor: {{object.model.processor}}</p>
            <p>RAM: {{object.model.ram}} GB</p>
            <p>HDD: {{object.model.hdd}} GB</p>
            <p>OS: {{object.os}}</p>
            <p>Monitor: {{object.monitor}}</p>
            <p>Keyboard: {{object.keyboard}}</p>
            <p>Mouse: {{object.mouse}}</p>
            <p>Power Supply: {{object.power_supply}}</p>
            <p>Cooling: {{object.cooling}}</p>
            <p>Network: {{object.network}}</p>
        </div>
    </div>
</div>
{% endblock content %}