{% extends 'base.html' %}


{% block content %}
<div class="container py-5 mb-5">
    <h1>Tickets</h1>
    <div class="text-end">
        <a href="{% url 'ticket-create' %}">
            <span class="text-success material-symbols-outlined">
                add_box
            </span>
        </a>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-sm table-hover small">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">user</th>
                    <th scope="col">description</th>
                    <th scope="col">created</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a class="text-dark"
                            href="{{ticket.get_absolute_url}}">{{ticket.user}}</a>
                    </td>
                    <td>{{ticket.description|truncatechars:100}}</td>
                    <td>{{ticket.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}