{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}


{% block content %}
<div class="container py-5 mb-5">
    <h1>{{object.summary}} ({{object}})</h1>
    <hr>
    <div class="row">
        <div class="bg-light px-5 py-3 rounded-4 shadow">
            <p>{{object.description}}</p>
            <div class="text-end">
                <span
                    class="small text-muted">{{object.created_at|naturaltime}}</span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            {% if not object.assigned_to %}

            <h2>Assign Technician to Ticket</h2>

            <form method="post"
                action="{% url 'assign-technician' ticket.slug %}">
                {% csrf_token %}
                {{ assign_technician_form|crispy }}
                <div class="d-grid">
                    <button class="btn btn-dark"
                        type="submit">Assign Technician</button>
                </div>
            </form>
            <br>
            {% else %}
            <p>Assigned To: <span
                    class="fs-3 fw-bold">{{object.assigned_to}}</span>
            </p>

            {% endif %}
        </div>


        <div class="col-lg">
            <form method="post"
                action="{% url 'add-comment' object.slug %}">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <div class="d-grid">
                    <button class="btn btn-dark"
                        type="submit">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <section>
        <div class="row">
            <div class="col">
                <h3>Comments</h3>
                {% for comment in object.comments.all %}
                <p class="border p-3 rounded-4 shadow bg-info bg-opacity-10">
                    {{ comment.comments }}
                    <span
                        class="ms-3 small text-muted">{{comment.created_at|naturaltime}}</span>
                </p>
                {% endfor %}
            </div>

        </div>
    </section>
</div>
{% endblock content %}