{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="container py-5 mb-5">
    <h1>Tickets</h1>
    <div class="text-end">
        <a href="{% url 'ticket-create' %}">
            <span class="text-success material-symbols-outlined">
                add_box
            </span>
        </a>
    </div>
    <div class="col-lg-6 mx-auto py-3">
        <form action=""
            method="get">
            <input class="form-control form-control-lg rounded-pill"
                type="search"
                name="ticket"
                placeholder="Ticket ID"
                id="">
        </form>
    </div>
    <br>
    <ol>
        {% for ticket in object_list %}
        <li><a class="text-dark"
                href="{{ticket.get_absolute_url}}">{{ticket.ticket_id}}</a>
        </li>
        {% endfor %}
    </ol>

</div>
{% endblock content %}