{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5 mb-5">
    <h1>Add Computer</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6 p-5 border border-dark rounded-4">
            <form action=""
                enctype="multipart/form-data"
                method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid">
                    <button class="btn btn-dark"
                        type="submit">Submit</button>
                </div>
            </form>
        </div>
        <!-- <div class="col p-5">

            <h3>Next new computer name</h3>
            <form action="{% url 'get-next-computer-name' %}"
                method="post">
                <p>{{last_computer_name}}</p>
                {{get_computer_name_form|crispy}}
                <button class="btn btn-dark px-5 rounded-4"
                    type="submit">Use name</button>
            </form>
        </div> -->
    </div>
</div>
<script>
    $("#id_model").select2();
    $("#id_os").select2();
    $("#id_department").select2();
    $("#id_monitor").select2();
</script>
{% endblock content %}