{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}


{% block content %}
<div class="container py-5 mb-5">
    <h1>{{object}}</h1>
    <hr>
    <div class="row">
        <div class="bg-light px-5 py-3 rounded-4 shadow">
            <p>{{object.description}}</p>
            <div class="text-end">
                <span
                    class="small text-muted">{{object.created_at|naturaltime}}</span>
            </div>
        </div>
    </div>
    <br>
    <section>
        <div class="row">
            <div class="col">
                <h3>Comments</h3>
                {% for comment in object.comments.all %}
                <p class="border p-3 rounded-4 shadow bg-info bg-opacity-10">
                    {{ comment.comments }}
                    <span
                        class="ms-3 small text-muted">{{comment.created_at|naturaltime}}</span>
                </p>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <form method="post"
                    action="{% url 'add-comment' object.slug %}">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <div class="d-grid">
                        <button class="btn btn-dark"
                            type="submit">Add Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}